<div class="container">



    <div class="row col-12">
  
      <div class="col-4">
  
        <div class="filter-box">
  
          <form>
            <div>
              <label>
                Buscar:
                <input type="text" name="search-term">
              </label>
            </div>
            <div>
              <label>
                <input type="radio" name="search-type" value="name"> Buscar por nombre
              </label>
            </div>
            <div>
              <label>
                <input type="radio" name="search-type" value="tags"> Buscar por tags
              </label>
            </div>
            <div>
              <label>
                <input type="radio" name="search-type" value="ingredients"> Buscar por
                ingredientes
              </label>
            </div>
            <div>
              <label>
                <input type="radio" name="search-type" value="user"> Buscar usuario
              </label>
            </div>
  
            <button type="submit" class="btn btn-warning">Buscar</button>
          </form>
        </div>
      </div>
  
      <div class="col-8 bg-black">
  
        <!-- <shared-recycler-view></shared-recycler-view> -->
  
      </div>
  
    </div>