<mat-toolbar color="primary">

    <div class="flex-auto">
        <h1>tasteIt</h1>
    </div>

    <div class="flex-auto">
        <button *ngFor="let item of menuItems" mat-button [routerLink]="item.url">
            <mat-icon aria-hidden="false" fontIcon="{{item.icon}}"></mat-icon>{{item.label}}
        </button>
    </div>

    <div class="flex-end" routerLink="./profile">
            <img [src]="decodeImg64(userNeo.imgProfile!)">
    </div>
</mat-toolbar>



<div class="container p-2">
    <router-outlet></router-outlet>
</div>