<mat-toolbar class="flex justify-content-between flex-wrap menu-bar" color="primary">

  <!--Menu movil-->

  <div class="flex align-items-start flex-wrap menu_mobile">

    <button mat-icon-button [matMenuTriggerFor]="menuMobile">
      <mat-icon>menu</mat-icon>
    </button>

  </div>

  <mat-menu #menuMobile="matMenu" class="flex flex-column justify-content-center align-items-center">

    <button mat-menu-item [routerLink]="['.']">
      <mat-icon aria-hidden="false" fontIcon="home"></mat-icon>HOME
    </button>

    <button mat-menu-item [routerLink]="['./search']">
      <mat-icon aria-hidden="false" fontIcon="search"></mat-icon>SEARCH
    </button>

    <button mat-menu-item [routerLink]="['./random']">
      <mat-icon aria-hidden="false" fontIcon="shuffle"></mat-icon>RANDOM
    </button>

    <button mat-menu-item [routerLink]="['./my-book']">
      <mat-icon aria-hidden="false" fontIcon="book"></mat-icon>MY BOOK
    </button>

  </mat-menu>

  <!--FIN Menu movil-->

  <!-- Menu desktop -->

  <div class="flex align-items-center justify-content-center">

    <img class="logo_mini" src="assets/tasteIt_logo3.png">

  </div>

  <div class="flex align-items-center justify-content-center menu-desktop">

    <button mat-button [routerLink]="['.']">
      <mat-icon aria-hidden="false" fontIcon="home"></mat-icon>HOME
    </button>

    <button mat-button [routerLink]="['./search']">
      <mat-icon aria-hidden="false" fontIcon="search"></mat-icon>SEARCH
    </button>

    <button mat-button (click)="goRandom()">
      <mat-icon aria-hidden="false" fontIcon="shuffle"></mat-icon>RANDOM
    </button>

    <button mat-button [routerLink]="['./my-book']">
      <mat-icon aria-hidden="false" fontIcon="book"></mat-icon>MY BOOK
    </button>

  </div>

  <!--FIN Menu desktop-->

  
  <div class="flex align-items-center justify-content-center">

    <button mat-button *ngIf="isAdmin" (click)="goBackend()" matTooltip="Backend"><mat-icon fontIcon="security"></mat-icon></button>

    <button mat-button (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>

    <img class="imgProfile" matTooltip="Your profile" [src]="currentUser.imgProfile!" (click)="goProfile()">

  </div>

</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>