<div mat-dialog-content>
    <p>Reset Password</p>
    <form class="flex flex-column align-items-center justify-content-center"
        [formGroup]="formReset">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-icon matSuffix>alternate_email</mat-icon>
            <mat-error *ngIf="formReset.controls.email.invalid">Invalid email</mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary">Cancel</button>
    <button mat-button cdkFocusInitial color="accent" (click)="onSubmit()">Reset!</button>
</div>