<mat-card class="user-cards" *ngFor="let comment of comments" (click)="viewProfileCreator(comment.user.token)">
    <mat-card-header>
        <div mat-card-avatar>
            <img class="imgProfile" [src]="comment.user.imgProfile!">
        </div>
        <mat-card-title class="ml-2">{{comment.user.username | titlecase}}</mat-card-title>
        <mat-card-subtitle class="ml-2">{{comment.comment.dateCreated | date }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p><b>Said:</b> {{comment.comment.comment}}</p>
    </mat-card-content>
</mat-card>