<shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>

<div class="grid p-3 flex align-items-center justify-content-center">
    <mat-card *ngFor="let recipe of recipes" class="col-12 sm:col-3 cards fadeIn">
        <mat-card-header>
            <div mat-card-avatar>
                <img class="imgProfile" [src]="recipe.user.imgProfile!" (click)="viewProfileCreator(recipe.user.token)">
            </div>
            <mat-card-title matTooltip="Name of the creator" (click)="viewProfileCreator(recipe.user.token)">{{ recipe.user.username | titlecase }}</mat-card-title>
            <mat-card-subtitle matTooltip="Name of the recipe" (click)="viewRecipe(recipe.recipeId)">{{ recipe.recipe.name | slice:0:40
                }}</mat-card-subtitle>
        </mat-card-header>
        <div class="flex align-items-center justify-content-center imgContainer">
            <img class="imgRecipeCard" [src]="recipe.recipe.image" alt=""
                (click)="viewRecipe(recipe.recipeId)" />

                <button mat-mini-fab matTooltip="Rating" class="ratingContainer" color="primary">
                    <mat-icon>star</mat-icon>
                    {{ recipe.recipe.rating | number: '1.0-0' }}
                </button>

                <button mat-mini-fab matTooltip="Difficulty" class="difficultyContainer" color="primary">
                    <mat-icon>speed</mat-icon>
                    {{ recipe.recipe.difficulty }}
                </button>

        </div>
        <mat-card-content [matTooltip]="recipe.recipe.description" (click)="viewRecipe(recipe.recipeId)">
            <p>{{ recipe.recipe.description | slice:0:55 }}...</p>
        </mat-card-content>
    </mat-card>
</div>