.imgRecipeCard {
    height: 320px;
    width: 320px;
    border: 3px solid #b92617;
    border-radius: 25px 25px 25px 25px;
}

.cards {
    margin: 20px;
    max-width: 325px;
    background-color: maroon;
    color: white;
    cursor: pointer;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    transition: transform 0.3s;
    border-radius: 10px 10px 10px 10px;
}

.cards:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, 0.4), 0px 12px 20px 0px rgba(0, 0, 0, 0.28), 0px 2px 36px 0px rgba(0, 0, 0, 0.24);
}

.imgProfile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #b92617;
    object-fit: cover;
}

.difficultyContainer {
    position: absolute;
    top: 350px;
    right: 10px;
}

.difficultyContainer mat-icon {
    background: -webkit-linear-gradient(right, maroon, red, yellow, pink, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ratingContainer {
    position: absolute;
    top: 300px;
    right: 10px;
}

.ratingContainer mat-icon {
    color: yellow;
}

mat-card-subtitle {
    font-style: italic;
    color: azure;
    font-size: small;
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {

    .imgRecipeCard {
        height: 250px;
        width: 250px;
    }

    .difficultyContainer {
        top: 230px;
        right: 10px;
    }

    .ratingContainer {
        position: absolute;
        top: 275px;
        right: 10px;
    }

    .cards {
        max-width: 255px;
    }
    

}