<mat-toolbar class="flex justify-content-between flex-wrap menu-bar" color="primary">

  <!--Menu movil-->

  <div class="flex align-items-start flex-wrap menu_mobile">

    <button mat-icon-button [matMenuTriggerFor]="menuMobile">
      <mat-icon>menu</mat-icon>
    </button>

  </div>

  <mat-menu #menuMobile="matMenu" class="flex flex-column justify-content-center align-items-center">

    <button mat-menu-item (click)="goHome()">
      <mat-icon aria-hidden="false" fontIcon="home"></mat-icon>{{ 'MENU.HOME' | translate }}
    </button>

    <button mat-menu-item (click)="goSearch()">
      <mat-icon aria-hidden="false" fontIcon="search"></mat-icon>{{ 'MENU.SEARCH' | translate }}
    </button>

    <button mat-menu-item (click)="goRandom()">
      <mat-icon aria-hidden="false" fontIcon="shuffle"></mat-icon>{{ 'MENU.RANDOM' | translate }}
    </button>

    <button mat-menu-item (click)="goMyBook()">
      <mat-icon aria-hidden="false" fontIcon="book"></mat-icon>{{ 'MENU.MY_BOOK' | translate }}
    </button>

  </mat-menu>

  <!--FIN Menu movil-->

  <!-- Menu desktop -->

  <div class="flex align-items-center justify-content-center">

    <img class="logo_mini" src="assets/tasteIt_logo3.png" (click)="goHome()">

  </div>

  <div class="flex align-items-center justify-content-center menu-desktop">

    <button mat-button (click)="goHome()">
      <mat-icon aria-hidden="false" fontIcon="home"></mat-icon>{{ 'MENU.HOME' | translate }}
    </button>

    <button mat-button (click)="goSearch()">
      <mat-icon aria-hidden="false" fontIcon="search"></mat-icon>{{ 'MENU.SEARCH' | translate }}
    </button>

    <button mat-button (click)="goRandom()">
      <mat-icon aria-hidden="false" fontIcon="shuffle"></mat-icon>{{ 'MENU.RANDOM' | translate }}
    </button>

    <button mat-button (click)="goMyBook()">
      <mat-icon aria-hidden="false" fontIcon="book"></mat-icon>{{ 'MENU.MY_BOOK' | translate }}
    </button>

  </div>

  <!--FIN Menu desktop-->

  <div class="flex align-items-center justify-content-center">

    <button mat-button *ngIf="isAdmin" (click)="goBackend()" matTooltip="{{ 'MENU.BACKEND' | translate }}"><mat-icon fontIcon="security"></mat-icon></button>

    <button mat-button (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      <span>{{ 'MENU.LOGOUT' | translate }}</span>
    </button>

    <img class="imgProfile" matTooltip="{{ 'MENU.YOUR_PROFILE' | translate }}" [src]="currentUser.imgProfile!" (click)="goProfile()">

  </div>

</mat-toolbar>

<div *ngIf="canGoTop" class="fab-container fadeIn">
  <button mat-fab class="go-top" (click)="goTop()" color="primary" matTooltip="Go top">
    <mat-icon>arrow_upward</mat-icon>
  </button>

  <button mat-mini-fab class="go-top-mini" (click)="goTop()" color="primary" matTooltip="Go top">
    <mat-icon>arrow_upward</mat-icon>
  </button>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>