<div class="mt-7">

  <div class="grid">

    <div class="show-menu-button">
      <button mat-mini-fab color="primary" class="ml-2" (click)="showHideMenu()" matTooltip="Show/hide search box">
        <mat-icon>tune</mat-icon>
      </button>
    </div>

    <div class="col-12 filter-box flex flex-column align-items-center"
      [ngClass]="{fadeInDown: isVisibleSearch , fadeOut: !isVisibleSearch }">

      <h2 *ngIf="!isFilterByUser">Search Recipes</h2>
      <h2 *ngIf="isFilterByUser">Search Users</h2>

      <div class="flex flex-column align-items-start justify-content-center">
        <mat-slide-toggle [checked]="isFilterByUser" (change)="filterByUser()">user filter</mat-slide-toggle>
        <mat-slide-toggle [checked]="isAdvancedSearch" (change)="advancedSearch()" [disabled]="isFilterByUser"
          class="mt-4">Advanced filter</mat-slide-toggle>

      </div>

      <!-- form para recetas -->
      <form [formGroup]="formSearch" *ngIf="!isFilterByUser">

        <div class="col flex flex-column justify-content-center align-items-center">

          <mat-form-field color="primary">
            <mat-label>Name</mat-label>
            <input matInput type="text" class="form-control" placeholder="By name" formControlName="name"
              color="primary">
          </mat-form-field>

          <mat-form-field color="primary" *ngIf="isAdvancedSearch">
            <mat-label>Country</mat-label>
            <mat-select placeholder="Country" name="country" formControlName="country">
              <mat-option *ngFor="let item of countries" [value]="item">
                {{item}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field color="primary" *ngIf="isAdvancedSearch">
            <mat-label>Difficulty</mat-label>
            <input matInput type="text" class="form-control" placeholder="By difficulty" formControlName="difficulty"
              color="primary">
          </mat-form-field>

          <mat-form-field color="primary" *ngIf="isAdvancedSearch">
            <mat-label>Rating</mat-label>
            <input matInput type="text" class="form-control" placeholder="By rating" formControlName="rating"
              color="primary">
          </mat-form-field>

          <mat-form-field color="primary" *ngIf="isAdvancedSearch">
            <mat-label>Tags</mat-label>
            <input matInput type="text" class="form-control" placeholder="By tags" formControlName="tags"
              color="primary">
          </mat-form-field>

          <mat-form-field color="primary">
            <mat-label>Ingredients</mat-label>
            <input matInput type="text" class="form-control" placeholder="By ingredients" formControlName="ingredients"
              color="primary">
          </mat-form-field>

          <div>
            <button mat-flat-button color="primary" (click)="searchRecipes()">
              Search
            </button>
            <button mat-button class="ml-2" color="primary" (click)="resetForm()">
              reset
            </button>
          </div>

        </div>

      </form>


      <form [formGroup]="formSearch" *ngIf="isFilterByUser">

        <div class="col flex flex-column justify-content-center align-items-center">

          <mat-form-field color="primary">
            <mat-label>Name</mat-label>
            <input matInput type="text" class="form-control" placeholder="By name" formControlName="nameUser"
              color="primary">
            <mat-error>field needed</mat-error>
          </mat-form-field>

          <div>
            <button mat-flat-button color="primary" (click)="searchUsers()">
              Search
            </button>
            <button mat-button class="ml-2" color="primary" (click)="resetForm()">
              reset
            </button>
          </div>

        </div>

      </form>

    </div>


    <div *ngIf="!results" class="col-12 flex align-items-center justify-content-center">
      <div class="no-results wobble">
        <p>No results!</p>
        <button mat-raised-button color="primary" (click)="showHideMenu()">Try again</button>
      </div>
    </div>


    <div *ngIf="!recipes; else divSearchRecipes">
      <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    </div>


    <ng-template #divSearchRecipes>

      <div class="col-12 background-cards">

        <taste-it-recycler-view [recipes]="recipes"></taste-it-recycler-view>

      </div>

    </ng-template>

    <div *ngIf="!users; else divSearchUsers">
      <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    </div>


    <ng-template #divSearchUsers>

      <div class="col-12">

        <div class="grid flex justify-content-center align-items-center">

          <div *ngFor="let item of users"
            class="col-3 flex align-items-center justify-content-start p-2 fadeIn user-cards-search"
            (click)="viewProfileCreator(item.token)">
            <img [src]="item.imgProfile" class="mr-2">
            {{item.username}}
          </div>

        </div>

      </div>

    </ng-template>

  </div>

</div>