<div class="mt-7">

  <div class="grid">

    <div class="show-menu-button">
      <button mat-mini-fab color="primary" class="ml-2" (click)="showHideMenu()"
        matTooltip="{{ 'SEARCH.HIDE_SEARCH_BTN_TOOLTIP' | translate }}">
        <mat-icon>tune</mat-icon>
      </button>
    </div>

    <div class="col-12 filter-box flex flex-column align-items-center"
      [ngClass]="{fadeInDown: isVisibleSearch , fadeOut: !isVisibleSearch }">

      <h2 *ngIf="!isFilterByUser">{{ 'SEARCH.SEARCH_RECIPES_TITLES' | translate }}</h2>
      <h2 *ngIf="isFilterByUser">{{ 'SEARCH.SEARCH_USERS_TITLES' | translate }}</h2>

      <div class="flex flex-column align-items-start justify-content-center">
        <mat-slide-toggle [checked]="isFilterByUser" (change)="filterByUser()">{{ 'SEARCH.USERS_FILTER_TOOLTIP' |
          translate }}</mat-slide-toggle>
        <mat-slide-toggle [checked]="isAdvancedSearch" (change)="advancedSearch()" [disabled]="isFilterByUser"
          class="mt-4">{{ 'SEARCH.ADVANCED_FILTER_TOOLTIP' | translate }}</mat-slide-toggle>

      </div>

      <!-- form para recetas -->
      <form [formGroup]="formSearch" *ngIf="!isFilterByUser">

        <div class="col flex flex-column justify-content-center align-items-center">

          <mat-form-field color="primary">
            <mat-label>{{ 'SEARCH.NAME_LABEL' | translate }}</mat-label>
            <input matInput type="text"  placeholder="{{ 'SEARCH.NAME_LABEL' | translate }}"
              formControlName="name" color="primary">
          </mat-form-field>

          <mat-form-field color="primary" *ngIf="isAdvancedSearch">
            <mat-label>{{ 'SEARCH.COUNTRY_LABEL' | translate }}</mat-label>
            <mat-select placeholder="{{ 'SEARCH.COUNTRY_LABEL' | translate }}" name="country" formControlName="country">
              <mat-option *ngFor="let item of countries" [value]="item">
                {{item}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field color="primary" *ngIf="isAdvancedSearch">
            <mat-label>{{ 'SEARCH.DIFFICULTY_LABEL' | translate }}</mat-label>
            <input matInput type="number"  placeholder="{{ 'SEARCH.DIFFICULTY_LABEL' | translate }}"
              formControlName="difficulty" color="primary" min="0" max="5">
          </mat-form-field>

          <mat-form-field color="primary" *ngIf="isAdvancedSearch">
            <mat-label>{{ 'SEARCH.RATING_LABEL' | translate }}</mat-label>
            <input matInput type="number"  placeholder="{{ 'SEARCH.RATING_LABEL' | translate }}"
              formControlName="rating" color="primary" min="0" max="5">
          </mat-form-field>

          <mat-form-field color="primary" *ngIf="isAdvancedSearch">
            <mat-label>{{ 'SEARCH.TAGS_LABEL' | translate }}</mat-label>
            <input matInput type="text"  placeholder="{{ 'SEARCH.TAGS_LABEL' | translate }}"
              formControlName="tags" color="primary">
          </mat-form-field>

          <mat-form-field color="primary">
            <mat-label>{{ 'SEARCH.INGREDIENTS_LABEL' | translate }}</mat-label>
            <input matInput type="text"  placeholder="{{ 'SEARCH.INGREDIENTS_LABEL' | translate }}"
              formControlName="ingredients" color="primary">
          </mat-form-field>

          <div>
            <button mat-flat-button color="primary" (click)="searchRecipes()">
              {{ 'SEARCH.SEARCH_BTN' | translate }}
            </button>
            <button mat-button class="ml-2" color="primary" (click)="resetForm()">
              {{ 'SEARCH.RESET_BTN' | translate }}
            </button>
          </div>

        </div>

      </form>


      <form [formGroup]="formSearch" *ngIf="isFilterByUser">

        <div class="col flex flex-column justify-content-center align-items-center">

          <mat-form-field color="primary">
            <mat-label>{{ 'SEARCH.NAME_LABEL' | translate }}</mat-label>
            <input matInput type="text"  placeholder="{{ 'SEARCH.NAME_LABEL' | translate }}"
              formControlName="nameUser" color="primary">
            <mat-error>{{ 'SEARCH.ERR_FIELD' | translate }}</mat-error>
          </mat-form-field>

          <div>
            <button mat-flat-button color="primary" (click)="searchUsers()">
              {{ 'SEARCH.SEARCH_BTN' | translate }}
            </button>
            <button mat-button class="ml-2" color="primary" (click)="resetForm()">
              {{ 'SEARCH.RESET_BTN' | translate }}
            </button>
          </div>

        </div>

      </form>

    </div>


    <div *ngIf="!results" class="col-12 flex align-items-center justify-content-center">
      <div class="no-results wobble">
        <p>No results!</p>
        <!-- <button mat-raised-button color="primary" (click)="showHideMenu()">Try again</button> -->
      </div>
    </div>


    <div *ngIf="!recipes; else divSearchRecipes">
      <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    </div>


    <ng-template #divSearchRecipes>

      <div class="col-12 background-cards">

        <taste-it-recycler-view [recipes]="recipes"></taste-it-recycler-view>

      </div>

    </ng-template>

    <div *ngIf="!users; else divSearchUsers">
      <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    </div>


    <ng-template #divSearchUsers>

      <div class="col-12">

        <div class="grid flex justify-content-center align-items-center">

          <div *ngFor="let item of users"
            class="col-3 flex align-items-center justify-content-start p-2 fadeIn user-cards-search"
            (click)="viewProfileCreator(item.token)">
            <img [src]="item.imgProfile" class="mr-2">
            {{item.username}}
          </div>

        </div>

      </div>

    </ng-template>

  </div>

</div>