.img-profile-card {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #b92617;
    object-fit: cover;
}

.user-cards-search {
    margin: 20px;
    max-width: 325px;
    background-color: maroon !important;
    color: white;
}

.user-cards-search img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.card-title {
    color: maroon !important;
}

.show-menu-button {
    position: fixed;
    top: 8%;
    left: 10%;
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {

    .show-menu-button {
        position: fixed;
        top: 8%;
        left: 3%;
        z-index: 100;
    }

}