.container {
  margin-top: 50px;
}

.fab-container {
  position: fixed;
  bottom: 80px;
  right: 80px;
  z-index: 1;
}

button.mat-fab {
  position: relative;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(0);
  transition: transform 0.2s ease-out;
}

button.mat-fab:hover {
  transform: scale(1.1);
}

.create-recipe-mini {
  display: none;
}


/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .fab-container {
    bottom: 40px;
    right: 5px;
  }

  .create-recipe {
    display: none;
  }

  .create-recipe-mini {
    display: block;
  }

}