<div class="mt-8">

    <div *ngIf="error; else divProfile">
        <app-error404 *ngIf="showError"></app-error404>
    </div>

    <div *ngIf="isLoading">

        <div class="title-sh shine"></div>

        <div class="grid flex-column">


            <div class="grid flex-row align-items-center justify-content-evenly">

                <div class="photo-profile-sh shine"></div>

                <div class="d-flex justify-content-center align-items-center">
                    <div class="title-sh shine"></div>
                </div>

                <div class="grid p-2 mt-2 flex-column align-items-center justify-content-evenly botones">

                    <div class="square-chip-sh shine"></div>

                </div>

            </div>


            <div class="grid flex align-items-center justify-content-center mt-3">

                <div class="col p-2 mt-2 grid flex-row align-items-center justify-content-evenly">
                    <div class="col-12 sm:col-3 ml-8 small-chip-sh shine"></div>
                    <div class="col-12 sm:col-3 ml-8 small-chip-sh shine"></div>
                    <div class="col-12 sm:col-3 ml-8 small-chip-sh shine"></div>
                    <div class="col-12 sm:col-3 ml-8 small-chip-sh shine"></div>
                </div>

            </div>

            <div class="mt-3">
                <div class="col-12 sm:col-3 ml-8 big-box-sh shine"></div>
            </div>
        </div>

        <shared-loading-spinner></shared-loading-spinner>
    </div>

    <ng-template #divProfile>

        <h1>{{ 'PROFILE.TITLE' | translate }}</h1>

        <div class="grid flex-column">


            <div class="grid flex-row align-items-center justify-content-evenly">

                <img class="img-profile" [src]="currentUser.imgProfile!">

                <div class="d-flex justify-content-center align-items-center">
                    <h2>{{currentUser.username | titlecase }}</h2>
                </div>

                <div class="grid p-2 mt-2 flex-column align-items-center justify-content-evenly botones">

                    <button mat-fab extended matTooltip="{{ 'PROFILE.FOLLOW_BTN_TOOLTIP' | translate }}" color="primary"
                        *ngIf="samePerson && !canFollow" (click)="postFollowUser()">
                        <mat-icon>person_add</mat-icon>
                        {{ 'PROFILE.FOLLOW_BTN' | translate }}
                    </button>

                    <button mat-fab extended matTooltip="{{ 'PROFILE.UNFOLLOW_BTN_TOOLTIP' | translate }}" color="primary"
                        *ngIf="samePerson && canFollow" (click)="postFollowUser()">
                        <mat-icon>person_remove</mat-icon>
                        {{ 'PROFILE.UNFOLLOW_BTN' | translate }}
                    </button>

                    <button mat-fab extended matTooltip="{{ 'PROFILE.COMMENT_BTN_TOOLTIP' | translate }}" color="primary" *ngIf="samePerson"
                        (click)="commentUser()">
                        <mat-icon>comment</mat-icon>
                        {{ 'PROFILE.COMMENT_BTN' | translate }}
                    </button>

                    <button mat-fab extended matTooltip="{{ 'PROFILE.EDIT_BTN_TOOLTIP' | translate }}" color="primary" *ngIf="!samePerson"
                        (click)="editUser()">
                        <mat-icon>edit</mat-icon>
                        {{ 'PROFILE.EDIT_BTN' | translate }}
                    </button>

                </div>

            </div>


            <div class="grid flex align-items-center justify-content-center mt-3">

                <div class="col-6 sm:col-3 flex align-items-center justify-content-center">

                    <button mat-fab extended [matBadge]="recipesCount" matBadgeColor="warn" matTooltip="{{ 'PROFILE.RECIPES_BTN_TOOLTIP' | translate }}"
                        color="primary" (click)="viewRecipes()">
                        {{ 'PROFILE.RECIPES_BTN' | translate }}
                    </button>

                </div>
                <div class="col-6 sm:col-3 flex align-items-center justify-content-center">

                    <button mat-fab extended [matBadge]="likesCount" matBadgeColor="warn" matTooltip="{{ 'PROFILE.LIKES_BTN_TOOLTIP' | translate }}"
                        color="primary" (click)="viewLikes()">
                        {{ 'PROFILE.LIKES_BTN' | translate }}
                    </button>

                </div>
                <div class="col-6 sm:col-3 flex align-items-center justify-content-center">

                    <button mat-fab extended [matBadge]="followersCount" matBadgeColor="warn"
                        matTooltip="{{ 'PROFILE.FOLLOWERS_BTN_TOOLTIP' | translate }}s" color="primary" (click)="viewFollowers()">
                        {{ 'PROFILE.FOLLOWERS_BTN' | translate }}
                    </button>

                </div>
                <div class="col-6 sm:col-3 flex align-items-center justify-content-center">

                    <button mat-fab extended [matBadge]="followingCount" matBadgeColor="warn"
                        matTooltip="{{ 'PROFILE.FOLLOWING_BTN_TOOLTIP' | translate }}" color="primary" (click)="viewFollowing()">
                        {{ 'PROFILE.FOLLOWING_BTN' | translate }}
                    </button>

                </div>

            </div>

            <div class="mt-3">
                <mat-tab-group [disableRipple]=true>
                    <mat-tab label="{{ 'PROFILE.BIOGRAPHY' | translate }}" class="mat-tab-label-active text-area-biography">
                        <app-bio [biography]="currentUser.biography"></app-bio>
                    </mat-tab>
                    <mat-tab label="{{ 'PROFILE.PHOTOS' | translate }}">
                        <app-photos></app-photos>
                    </mat-tab>
                    <mat-tab label="{{ 'PROFILE.COMMENTS' | translate }}">
                        <app-comments-on-user [comments]="comments"></app-comments-on-user>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>

    </ng-template>

</div>