<header>
    <div class="logo">
        <h2>TasteIt</h2>
    </div>
    <nav class="menu">
        <ul>
            <li routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                class="list-group-item">Home</li>
            <li routerLink="search" routerLinkActive="active" class="list-group-item">Search</li>
            <li routerLink="random" routerLinkActive="active" class="list-group-item">Random</li>
            <li routerLink="mybook" routerLinkActive="active" class="list-group-item">My Book</li>      
        </ul>
    </nav>
    <div class="profile">
        <ul>
            <li routerLink="myprofile" routerLinkActive="active" class="list-group-item"><img [src]="decodeImg64(userNeo.imgProfile!)"></li>
        </ul>
    </div>
</header>