<shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>

<div class="grid p-3 flex-row align-items-center justify-content-center">
    <mat-card *ngFor="let recipe of recipes" class="col-12 sm:col-3" class="cards">
        <mat-card-header>
            <div mat-card-avatar>
                <img class="imgProfile" [src]="recipe.user.imgProfile!" (click)="viewProfileCreator(recipe.user.token)">
            </div>
            <mat-card-title matTooltip="Name of the creator" (click)="viewProfileCreator(recipe.user.token)">{{ recipe.user.username | titlecase }}</mat-card-title>
            <mat-card-subtitle matTooltip="name of the recipe" (click)="viewRecipe(recipe.recipeId)">{{ recipe.recipe.name | slice:0:20
                }}</mat-card-subtitle>
        </mat-card-header>
        <div class="imgContainer">
            <img class="imgRecipeCard" [src]="decodeImg64(recipe.recipe.image!)" alt=""
                (click)="viewRecipe(recipe.recipeId)" />

                <button mat-mini-fab matTooltip="difficulty" class="difficultyContainer" color="primary">
                    <mat-icon>speed</mat-icon>
                    {{ recipe.recipe.difficulty }}
                </button>

        </div>
        <mat-card-content matTooltip="description of the recipe" (click)="viewRecipe(recipe.recipeId)">
            <p>{{ recipe.recipe.description | slice:0:200 }}...</p>
            <!-- <p>Difficulty: {{ recipe.recipe.difficulty }}</p>
            <p>Country: {{ recipe.recipe.country }}</p> -->
        </mat-card-content>
    </mat-card>
</div>