<div class="grid p-3">
    <mat-card *ngFor="let recipe of recipes" class="col-12 sm:col-3" class="cards"
        (click)="viewRecipe(recipe.recipeId)">
        <mat-card-header>
            <div  mat-card-avatar>
                <img class="imgProfile" [src]="decodeImg64(recipe.user.imgProfile!)">
            </div>
            <mat-card-title>{{ recipe.user.username }}</mat-card-title>
            <mat-card-subtitle>{{ recipe.recipe.name | slice:0:20 }}</mat-card-subtitle>
        </mat-card-header>

        <img [src]="decodeImg64(recipe.recipe.image!)" alt="" />

        <mat-card-content>
            <p>{{ recipe.recipe.description }}</p>
            <p>Difficulty: {{ recipe.recipe.difficulty }}</p>
            <p>Country: {{ recipe.recipe.country }}</p>
        </mat-card-content>
    </mat-card>
</div>



<shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>