img {
    height: 325px;
    width: 325px;
}

.cards {
    margin: 20px;
    // padding: 5px;
    max-width: 325px;
    background-color: maroon;
    color: white;
}

.imgProfile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}