<div mat-dialog-content>
    <p>Rate this recipe</p>
    <form class="flex flex-column align-items-center justify-content-center"
        [formGroup]="formRate">
        <mat-form-field appearance="fill">
            <mat-label>Comment</mat-label>
            <input matInput type="text" formControlName="comment">
            <mat-error *ngIf="formRate.controls.comment.invalid">Fill the comment</mat-error>
        </mat-form-field>

        <!-- <mat-slider min="0" max="5" step="1" showTickMarks discrete >
            <input type="range" matSliderThumb formControlName="rating">
            <mat-error *ngIf="formRate.controls.rating.invalid">Give a rating</mat-error>
        </mat-slider> -->

        <bar-rating [(rate)]="rate" [max]="5" formControlName="rating"></bar-rating>

    </form>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary">Cancel</button>
    <button mat-button cdkFocusInitial color="accent" (click)="onSubmit()">Ok</button>
</div>