<div class="grid m-2" *ngIf="recipe">

    <div class="col-4 mt-3">

        <h2>Creator Information</h2>

        <div class="col-11 flex flex-column align-items-center justify-content-start card">

            <div class="flex align-items-center justify-content-center">

                <img class="img-user" [src]="recipe[0].user.imgProfile">

                <div class="flex flex-column align-items-center justify-content-center">

                    <button mat-fab extended [matBadge]="likesCount" matBadgeColor="warn" matTooltip="View likes"
                        color="primary" (click)="viewLikes()">
                        Likes
                    </button>

                    <button mat-fab extended [matBadge]="recipesCount" matBadgeColor="warn" matTooltip="View recipes"
                        color="primary" (click)="viewRecipes()" class="mt-1">
                        Recipes
                    </button>

                </div>

                <div class="flex flex-column align-items-center justify-content-center">

                    <button mat-fab extended [matBadge]="followingCount" matBadgeColor="warn"
                        matTooltip="View Following" color="primary" (click)="viewFollowing()">
                        Following
                    </button>

                    <button mat-fab extended [matBadge]="followersCount" matBadgeColor="warn"
                        matTooltip="View Followers" color="primary" (click)="viewFollowers()" class="mt-1">
                        Followers
                    </button>

                </div>

            </div>

            <div class="flex flex-column align-items-center justify-content-center">
                <h3>{{recipe[0].user.username | titlecase}}</h3>
                <p>{{recipe[0].user.biography | slice:0:250}}</p>
            </div>
        </div>

    </div>

    <div class="col-4 mt-3">

        <h2>Recipe Information</h2>

        <div class="col-11 card">

            <div class="">

                <div>State: 
                    <mat-slide-toggle color="warn" [checked]="recipe[0].recipe.active" (change)="changeState($event)">{{state}}</mat-slide-toggle>
                </div>

                <!-- <button *ngIf="!recipe[0].recipe.active" mat-mini-fab color="warn" matTooltip="Publish"
                    (click)="publishRecipe(recipe[0].recipeId)"><mat-icon>close</mat-icon></button>
    
                <button *ngIf="recipe[0].recipe.active" mat-mini-fab color="primary" matTooltip="Unpublish"
                    (click)="unpublishRecipe(recipe[0].recipeId)"><mat-icon>check</mat-icon></button> -->


    
            </div>

            <div class="flex align-items-center justify-content-evenly">

                <img class="img-recipe" [src]="recipe[0].recipe.image" [alt]="">

                <div class="flex flex-column align-items-center justify-content-around">

                    <button mat-mini-fab [matBadge]="likesCounter" matBadgeColor="warn" matTooltip="Likes"
                        class="button-custom" color="primary">
                        <mat-icon>thumb_up</mat-icon>
                    </button>

                </div>

            </div>

            <div class="flex flex-column align-items-center justify-content-center">
                <h2>{{recipe[0].recipe.name}}</h2>

                <bar-rating [(rate)]="recipe[0].recipe['rating']" [max]="5" [readOnly]="true" matTooltip="Rating">
                </bar-rating>

                <p>{{recipe[0].recipe.description | slice:0:250}}</p>
            </div>

            <div class="step-recipe" *ngFor="let item of recipe[0].recipe.steps; let i = index">
                <h2>Step {{i+1}}</h2>
                <p>{{item}}</p>
            </div>

        </div>



    </div>


    <div class="col-4">

        <div class="col-11">

            <h2>Reports</h2>

            <div class="grid mt-2 pl-3 card" *ngFor="let item of reports">

                <div class="col-2 flex align-items-center justify-content-center">
                    <img class="img-user-report" [src]="item.user.imgProfile">
                </div>

                <h3 class="col-6 flex align-items-center justify-content-start">
                    {{item.user.username}}
                </h3>

                <div class="col-4 flex align-items-start justify-content-end">
                    {{item.report.dateCreated | date}}
                </div>

                <div class="col-12">
                    {{item.report.comment}}
                </div>

            </div>

        </div>

    </div>

</div>