.imgRecipe {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid maroon;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.imgUser {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid maroon;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.imgUserReport {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid maroon;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}