<div class="mt-8">

    <div *ngIf="error; else divRecipe">
        <app-error404 *ngIf="showError"></app-error404>
    </div>

    <div *ngIf="isLoading">

        <div class="title-sh shine"></div>

        <div class="grid flex-column">

            <div class="grid flex-row align-items-center justify-content-evenly">

                <div class="col-12 sm:col-3 ml-8 photo-recipe-sh shine"></div>

                <div class="grid flex-column align-items-center justify-content-evenly">

                    <div class="flex flex-column align-items-center justify-content-center m-4">
                        <div class="col-12 sm:col-3 ml-8 square-chip-sh shine"></div>
                    </div>

                    <div class="flex flex-row align-items-center justify-content-center">
                        <div class="col-12 sm:col-3 ml-8 big-chip-sh shine"></div>
                    </div>

                </div>

            </div>

            <div class="col p-2 mt-2 grid flex-row align-items-center justify-content-evenly">
                <div class="col-12 sm:col-3 ml-8 small-chip-sh shine"></div>
                <div class="col-12 sm:col-3 ml-8 small-chip-sh shine"></div>
                <div class="col-12 sm:col-3 ml-8 small-chip-sh shine"></div>
            </div>
        </div>

        <div class="grid">
            <div class="col">
                <div class="col-12 sm:col-3 big-box-sh shine"></div>
            </div>
        </div>

        <shared-loading-spinner></shared-loading-spinner>
    </div>


    <ng-template #divRecipe>

        <h1>{{ 'RECIPE.RECIPE_TITLE' | translate }}</h1>

        <div class="grid flex-column">

            <div class="grid flex-row align-items-center justify-content-evenly">

                <img class="imgRecipe" [src]="recipe[0].recipe.image" [alt]="">

                <div class="grid flex-column align-items-center justify-content-evenly">

                    <div class="recipeCard flex flex-column align-items-center justify-content-center m-4">
                        <h3 matTooltip="{{ 'RECIPE.RECIPE_NAME_TOOLTIP' | translate }}">{{ recipe[0].recipe.name }}</h3>
                        <bar-rating [(rate)]="recipe[0].recipe['rating']" [max]="5" [readOnly]="true"
                            matTooltip="{{ 'RECIPE.RATING_TOOLTIP' | translate }}"></bar-rating>
                    </div>

                    <div class="user-card-little flex flex-row align-items-center justify-content-center">

                        <span class="flex flex-row align-items-center justify-content-center"
                            [routerLink]="['../../profile', recipe[0].user.token]" matTooltip="{{ 'RANDOM.PROFILE_TOOLTIP' | translate }}">

                            <img class="imgProfile" [src]="recipe[0].user.imgProfile">
                            <button mat-button color="warm">{{recipe[0].user.username | titlecase }}</button>

                        </span>

                        <button mat-button color="warm" matTooltip="{{ 'PROFILE.FOLLOW_BTN' | translate }}" [disabled]="samePerson"
                            (click)="postFollowUser()">
                            <mat-icon *ngIf="canFollow">person_remove</mat-icon>
                            <mat-icon *ngIf="!canFollow">person_add</mat-icon>
                        </button>

                        <button mat-button color="warm" matTooltip="{{ 'PROFILE.COMMENT_BTN' | translate }}" [disabled]="samePerson"
                            (click)="commentUser()">
                            <mat-icon>comment</mat-icon>
                        </button>

                    </div>

                </div>

            </div>



            <div class="col p-2 mt-2 grid flex-row align-items-center justify-content-evenly">

                <button mat-fab extended [matBadge]="likesCounter" matBadgeColor="warn" matTooltip="{{ 'RECIPE.LIKE_RECIPE_TOOLTIP' | translate }}"
                    color="primary" *ngIf="!isLiked" (click)="likeRecipe()">
                    <mat-icon>thumb_up</mat-icon>
                    {{ 'RECIPE.LIKE_BTN' | translate }}
                </button>

                <button mat-fab extended [matBadge]="likesCounter" matBadgeColor="warn" matTooltip="{{ 'RECIPE.DISLIKE_RECIPE_TOOLTIP' | translate }}"
                    color="primary" *ngIf="isLiked" (click)="likeRecipe()">
                    <mat-icon>thumb_down</mat-icon>
                    {{ 'RECIPE.DISLIKE_BTN' | translate }}
                </button>

                <button mat-fab extended [matBadge]="comments.length" matBadgeColor="warn" matTooltip="{{ 'RECIPE.RATE_RECIPE_TOOLTIP' | translate }}"
                    color="primary" (click)="rateRecipe()">
                    <mat-icon>star_rate</mat-icon>
                    {{ 'RECIPE.RATE_BTN' | translate }}
                </button>

                <button mat-fab extended matTooltip="{{ 'RECIPE.REPORT_RECIPE_TOOLTIP' | translate }}" color="primary" *ngIf="isReportable"
                    (click)="reportRecipe()">
                    <mat-icon>report</mat-icon>
                    {{ 'RECIPE.REPORT_BTN' | translate }}
                </button>

                <button mat-fab extended matTooltip="{{ 'RECIPE.EDIT_RECIPE_TOOLTIP' | translate }}" color="primary" *ngIf="isEditable"
                    (click)="editRecipe()">
                    <mat-icon>edit</mat-icon>
                    {{ 'RECIPE.EDIT_BTN' | translate }}
                </button>


            </div>
        </div>


        <div class="horizontal-line"></div>

        <div class="grid">
            <div class="col">
                <mat-tab-group [disableRipple]=true>
                    <mat-tab label="{{ 'RECIPE.INFORMATION_TITLE' | translate }}" class="mat-tab-label-active">

                        <div class="grid infoAdicional">

                            <div class="col-12 sm:col-6">
                                <p><strong>{{ 'RECIPE.INGREDIENTS_TITLE' | translate }}:</strong></p>
                                <mat-chip-set>
                                    <mat-chip *ngFor="let item of recipe[0].recipe.ingredients" class="chipCustom">
                                        {{ item }}</mat-chip>
                                </mat-chip-set>
                            </div>

                            <div class="col-12 sm:col-6">
                                <p><strong>{{ 'RECIPE.DESCRIPTION_TITLE' | translate }}:</strong></p>
                                <p>{{ recipe[0].recipe.description }}</p>
                                <p><strong>{{ 'RECIPE.DIFFICULTY_TOOLTIP' | translate }}:</strong></p>
                                <p>{{ recipe[0].recipe.difficulty }}</p>
                                <p><strong>{{ 'RECIPE.COUNTRY_TOOLTIP' | translate }}:</strong></p>
                                <p>{{ recipe[0].recipe.country | titlecase }}</p>
                            </div>

                            <div class="col-12">
                                <p><strong>{{ 'RECIPE.TAGS_TITLE' | translate }}:</strong></p>
                                <mat-chip-set>
                                    <mat-chip *ngFor="let item of recipe[0].recipe.tags" class="chipCustom">{{item |
                                        titlecase}}
                                    </mat-chip>
                                </mat-chip-set>
                            </div>

                        </div>

                    </mat-tab>
                    <mat-tab label="{{ 'RECIPE.STEPS_TITLE' | translate }}">

                        <div class="pr-3 pl-2 stepsCustom" *ngFor="let item of recipe[0].recipe.steps; let i = index">
                            <h3><u>{{ 'RECIPE.STEP_TITLE' | translate }} {{i+1}}</u></h3>
                            <textarea class="text-area-step" disabled>{{ item }}</textarea>
                        </div>

                    </mat-tab>
                    <mat-tab label="{{ 'RECIPE.COMMENTS' | translate }}">

                        <app-comments-on-recipe [comments]="comments"></app-comments-on-recipe>

                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>

    </ng-template>

</div>