<div class="mt-8">

    <div *ngIf="showError; else divRecipe">
        <app-error404></app-error404>
        <!-- <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner> -->
    </div>

    <ng-template #divRecipe>
        <h1>Recipe</h1>

        <div class="grid flex-column">

            <div class="grid flex-row align-items-center justify-content-evenly">
                <img class="imgRecipe" [src]="recipe[0].recipe.image" [alt]="">

                <div class="grid flex-column align-items-center justify-content-evenly">

                    <div class="recipeCard flex flex-column align-items-center justify-content-center m-4">
                        <h3 matTooltip="Recipe name">{{ recipe[0].recipe.name | titlecase }}</h3>
                        <bar-rating [(rate)]="recipe[0].recipe['rating']" [max]="5" [readOnly]="true"
                            matTooltip="Rating"></bar-rating>
                    </div>

                    <div class="user-card-little flex flex-row align-items-center justify-content-center">

                        <span class="flex flex-row align-items-center justify-content-center"
                            [routerLink]="['../../profile', recipe[0].user.token]" matTooltip="Profile">

                            <img class="imgProfile" [src]="recipe[0].user.imgProfile">
                            <button mat-button color="warm">{{recipe[0].user.username | titlecase }}</button>

                        </span>

                        <button mat-button color="warm" matTooltip="Follow" [disabled]="samePerson"
                            (click)="postFollowUser()">
                            <mat-icon *ngIf="canFollow">person_remove</mat-icon>
                            <mat-icon *ngIf="!canFollow">person_add</mat-icon>
                        </button>

                        <button mat-button color="warm" matTooltip="Comment" [disabled]="samePerson"
                            (click)="commentUser()">
                            <mat-icon>comment</mat-icon>
                        </button>

                    </div>

                </div>

            </div>



            <div class="col p-2 mt-2 grid flex-row align-items-center justify-content-evenly">

                <button mat-fab extended [matBadge]="likesCounter" matBadgeColor="warn" matTooltip="Like this recipe"
                    color="primary" *ngIf="!isLiked" (click)="likeRecipe()">
                    <mat-icon>thumb_up</mat-icon>
                    Like
                </button>

                <button mat-fab extended [matBadge]="likesCounter" matBadgeColor="warn" matTooltip="Dislike this recipe"
                    color="primary" *ngIf="isLiked" (click)="likeRecipe()">
                    <mat-icon>thumb_down</mat-icon>
                    Dislike
                </button>

                <button mat-fab extended [matBadge]="comments.length" matBadgeColor="warn" matTooltip="Rate this recipe"
                    color="primary" (click)="rateRecipe()">
                    <mat-icon>star_rate</mat-icon>
                    Rate
                </button>

                <button mat-fab extended matTooltip="Report this recipe" color="primary" *ngIf="isReportable"
                    (click)="reportRecipe()">
                    <mat-icon>report</mat-icon>
                    Report
                </button>

                <button mat-fab extended matTooltip="Edit this recipe" color="primary" *ngIf="isEditable"
                    (click)="editRecipe()">
                    <mat-icon>edit</mat-icon>
                    Edit
                </button>


            </div>
        </div>


        <div class="horizontal-line"></div>

        <div class="grid">
            <div class="col">
                <mat-tab-group [disableRipple]=true>
                    <mat-tab label="Information" class="mat-tab-label-active">

                        <div class="grid infoAdicional">

                            <div class="col-6">
                                <p><strong>Ingredients:</strong></p>
                                <mat-chip-set>
                                    <mat-chip *ngFor="let item of recipe[0].recipe.ingredients" class="chipCustom">
                                        {{item |
                                        titlecase}}</mat-chip>
                                </mat-chip-set>
                            </div>

                            <div class="col-6">
                                <p><strong>Description:</strong></p>
                                <p>{{ recipe[0].recipe.description }}</p>
                                <p><strong>Difficulty:</strong></p>
                                <p>{{ recipe[0].recipe.difficulty }}</p>
                                <p><strong>country:</strong></p>
                                <p>{{ recipe[0].recipe.country | titlecase }}</p>
                            </div>

                            <div class="col-12">
                                <p><strong>Tags:</strong></p>
                                <mat-chip-set>
                                    <mat-chip *ngFor="let item of recipe[0].recipe.tags" class="chipCustom">{{item |
                                        titlecase}}
                                    </mat-chip>
                                </mat-chip-set>
                            </div>

                        </div>



                    </mat-tab>
                    <mat-tab label="Steps">
                        <div class="pr-3 pl-2 stepsCustom" *ngFor="let item of recipe[0].recipe.steps; let i = index">
                            <h3><u>Step {{i+1}}</u></h3>
                            <textarea class="text-area-step" disabled>{{ item }}</textarea>
                        </div>
                    </mat-tab>
                    <mat-tab label="Comments">
                        <app-comments-on-recipe [comments]="comments"></app-comments-on-recipe>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </ng-template>

</div>