<form>
    <div>
        <label>
          Buscar:
          <input type="text" name="search-term" [(ngModel)]="searchTerm">
        </label>
      </div>
    <div>
      <label>
        <input type="radio" name="search-type" value="name" [(ngModel)]="searchType"> Buscar por nombre
      </label>
    </div>
    <div>
      <label>
        <input type="radio" name="search-type" value="tags" [(ngModel)]="searchType"> Buscar por tags
      </label>
    </div>
    <div>
      <label>
        <input type="radio" name="search-type" value="ingredients" [(ngModel)]="searchType"> Buscar por ingredientes
      </label>
    </div>
    <div>
      <label>
        <input type="radio" name="search-type" value="user" [(ngModel)]="searchType"> Buscar usuario
      </label>
    </div>

    <button type="submit">Buscar</button>
  </form>
  