.imgRecipe {
    margin-top: 5px;
    margin-left: 5px;
    width: 120px;
    height: 120px;
    border: 2px solid maroon;
    border-radius: 10px 10px 10px 10px;
    cursor : pointer;
}

.container {
    width: 400px;
    height: 400px;
    margin: 15px;
}

.mini-card {
    background-color: rgb(215, 135, 135);
    border: 1px solid maroon;
}

.chipCustom {
    background-color: maroon !important;
}

.chipCustom span {
    color: white !important;
}

.imgProfileAvatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid maroon;
}