<form class="flex align-items-center justify-content-center" [formGroup]="formFilter">

    <mat-form-field>
        <mat-label>Recipe Name</mat-label>
        <input type="text" matInput placeholder="Name Recipe" name="Name Recipe" formControlName="nameRecipe">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Creator Name</mat-label>
        <input type="text" matInput placeholder="Creator Recipe" name="Creator Recipe" formControlName="creatorRecipe">
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="State" name="State" formControlName="activeRecipe">
            <mat-option value="">
                N/A
            </mat-option>
            <mat-option value="true">
                Published
            </mat-option>
            <mat-option value="false">
                Unpublished
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="p-2 flex flex-column align-items-center justify-content-center">
        <button mat-raised-button color="primary" (click)="onSubmit()">Apply filter</button>
        <button mat-button (click)="resetFilter()" color="primary">reset</button>
    </div>

</form>


<mat-table matSort [dataSource]="dataSource">

    <ng-container matColumnDef="recipeId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="viewDetails(element.recipeId)"> {{element.recipeId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="recipe.name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name Recipe </mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="viewDetails(element.recipeId)"> {{element.recipe.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="creator.username">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Creator </mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="viewDetails(element.recipeId)"> {{element.creator.username}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="reportsCount">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Reports </mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="viewDetails(element.recipeId)"> {{element.reportsCount}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="recipe.active">
        <mat-header-cell *matHeaderCellDef mat-sort-header> State </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-slide-toggle color="warn" [checked]="element.recipe.active"
                (change)="changeState($event , element.recipeId)"></mat-slide-toggle>
        </mat-cell>
    </ng-container>
        
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator
    [pageSizeOptions]="[10, 25, 50]" 

    aria-label="Select page of periodic elements">
</mat-paginator>