<form class="flex align-items-center justify-content-center" [formGroup]="formFilter">

    <mat-form-field>
        <mat-label>Recipe Name</mat-label>
        <input type="text" matInput placeholder="Name Recipe" name="Name Recipe" formControlName="nameRecipe">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Creator Name</mat-label>
        <input type="text" matInput placeholder="Creator Recipe" name="Creator Recipe" formControlName="creatorRecipe">
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="State" name="State" formControlName="activeRecipe">
            <mat-option value="">
                N/A
            </mat-option>
            <mat-option value="true">
                Published
            </mat-option>
            <mat-option value="false">
                Unpublished
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="p-2 flex flex-column align-items-center justify-content-center">
        <button mat-raised-button color="primary" (click)="onSubmit()">Apply filter</button>
        <button mat-button (click)="resetFilter()" color="primary">reset</button>
    </div>

</form>


<!-- <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name Recipe</th>
            <th>Creator</th>
            <th>Reports</th>
            <th>State</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of recipesFiltered">
            <td>{{item.recipeId}}</td>
            <td>{{item.recipe.name}}</td>
            <td>{{item.creator.username}}</td>
            <td>{{item.reportsCount}}</td>
            <td>
                <mat-slide-toggle color="warn" [checked]="item.recipe.active" (change)="changeState($event , item.recipeId)"></mat-slide-toggle>
            </td>
            <td><button mat-raised-button color="primary" (click)="viewDetails(item.recipeId)">View</button></td>
        </tr>
    </tbody>
</table> -->

<table mat-table [dataSource]="recipes">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.recipeId}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name Recipe </th>
      <td mat-cell *matCellDef="let element"> {{element.recipe.name}} </td>
    </ng-container>

    <ng-container matColumnDef="creator">
      <th mat-header-cell *matHeaderCellDef> Creator </th>
      <td mat-cell *matCellDef="let element"> {{element.creator.username}} </td>
    </ng-container>

    <ng-container matColumnDef="reports">
        <th mat-header-cell *matHeaderCellDef> Reports </th>
        <td mat-cell *matCellDef="let element"> {{element.reportsCount}} </td>
      </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef> State </th>
      <td mat-cell *matCellDef="let element"> <mat-slide-toggle color="warn" [checked]="element.recipe.active" (change)="changeState($event , element.recipeId)"></mat-slide-toggle> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>