<mat-card class="user-cards" *ngFor="let comment of comments">
    <mat-card-header>
        <div mat-card-avatar>
            <img class="imgProfile" [src]="comment.user.imgProfile!" (click)="viewProfileCreator(comment.user.token)" matTooltip="{{ 'RANDOM.PROFILE_TOOLTIP' | translate }}">
        </div>
        <mat-card-title class="ml-2" (click)="viewProfileCreator(comment.user.token)" matTooltip="{{ 'PROFILE.USERNAME' | translate }}">{{comment.user.username | titlecase}}</mat-card-title>
        <mat-card-subtitle class="ml-2">{{comment.comment.dateCreated | date: 'dd/MM/yyyy' }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{comment.comment.comment}}</p>
    </mat-card-content>
</mat-card>


<div class="div-alert" *ngIf="comments.length == 0">
    {{ 'PROFILE.NO_COMMENTS_USER' | translate }}
</div>
