<div class="mt-8">

    <h1 *ngIf="!editRecipe">Create recipe</h1>
    <h1 *ngIf="editRecipe">Edit recipe</h1>

    <button mat-button *ngIf="editRecipe" (click)="deleteRecipe()" color="warn">Delete Recipe</button>

    <form [formGroup]="formRecipe" class="form-desktop">

        <div class="grid">

            <div class="col-5 flex flex-column  align-items-center justify-content-center">

                <label>
                    <input type="file" accept="image/png, image/jpeg, image/png" formControlName="imgRecipe"
                        class="inputImage" (change)="onFileSelected($event)">
                    <img matTooltip="Choose the photo" [src]="imgUrl" alt="" class="imgRecipe">
                    <mat-error *ngIf="formRecipe.controls.imgRecipe.invalid">image needed</mat-error>
                </label>

            </div>

            <div class="col-2 flex flex-column align-items-center justify-content-center">
                <button mat-fab matTooltip="Create recipe" color="primary" (click)="onSubmitCreate()" class="mt-2"
                    *ngIf="!editRecipe">
                    <mat-icon>save</mat-icon>
                </button>

                <button mat-fab matTooltip="Edit Recipe" color="primary" (click)="onSubmitEdit()" class="mt-2"
                    *ngIf="editRecipe">
                    <mat-icon>save</mat-icon>
                </button>

                <button mat-fab matTooltip="cancel" color="primary" (click)="onCancel()" class="mt-5">
                    <mat-icon>close</mat-icon>
                </button>
            </div>

            <div class="col-5 flex flex-column  align-items-center justify-content-center">

                <mat-form-field class="col-6">
                    <mat-label>Recipe Name</mat-label>
                    <input matInput type="text" placeholder="Recipe Name" name="recipeName"
                        formControlName="recipeName">
                    <mat-error *ngIf="formRecipe.controls.recipeName.invalid">name needed</mat-error>
                </mat-form-field>

                <mat-form-field class="col-6">
                    <!-- <mat-label>Country</mat-label>
                    <input matInput type="text" placeholder="Country" name="country" formControlName="country">
                    <mat-error *ngIf="formRecipe.controls.country.invalid">country needed</mat-error> -->

                    <mat-label>Country</mat-label>
                    <mat-select placeholder="Country" name="country" formControlName="country">
                        <mat-option *ngFor="let item of countries" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>

                </mat-form-field>

                <section>
                    <label>Difficulty: </label>
                    <mat-slider min="0" max="5" step="1" showTickMarks discrete>
                        <input type="range" matSliderThumb formControlName="difficulty">
                    </mat-slider>
                </section>

            </div>

        </div>

        <div class="grid">

            <div class="col-5">

                <mat-form-field class="text-area-description">
                    <mat-label>Description</mat-label>
                    <textarea matInput type="text" placeholder="Description" name="description"
                        formControlName="description" rows="3"></textarea>
                    <mat-error *ngIf="formRecipe.controls.description.invalid">description needed</mat-error>
                </mat-form-field>


                <div class="flex flex-column align-items-center justify-content-center">

                    <mat-form-field class="col-12">
                        <input matInput placeholder="Ingredients" name="newIngredient" formControlName="newIngredient"
                            [matChipInputFor]="ingredientsList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addIngredient($event)">
                    </mat-form-field>

                    <mat-chip-grid #ingredientsList>
                        <mat-chip *ngFor="let ingredient of ingredients" [removable]="true"
                            (removed)="removeIngredient(ingredient)" class="chipCustom">
                            {{ ingredient }}
                            <mat-icon class="chipIcon" matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-grid>

                </div>

            </div>

            <div class="col-2">

                <div class="col-12 flex flex-column align-items-center justify-content-center">

                    <button mat-fab matTooltip="Add step" (click)="addStep()" color="primary" class="mr-3">
                        <mat-icon>add</mat-icon>
                    </button>

                </div>

            </div>

            <div class="col-5">

                <div *ngFor="let step of steps; let i = index" class="flex align-items-center justify-content-center">

                    <mat-form-field class="flex justify-content-center align-items-center text-area-description">
                        <mat-label>Step {{i+1}}</mat-label>
                        <textarea matInput type="text" [name]="step.name" [placeholder]="step.placeholder"
                            [formControlName]="step.name" [value]="step.value" rows="3"></textarea>
                    </mat-form-field>

                    <button mat-fab matTooltip="delete step" class="m-1" color="primary" (click)="removeStep(i)">
                        <mat-icon>close</mat-icon>
                    </button>

                </div>

            </div>

        </div>

    </form>

    <!-- VERSION MOVIL -->

    <form class="" [formGroup]="formRecipe" class="form-mobile">

        <div class="grid">

            <div class="col-12 flex flex-column  align-items-center justify-content-center">

                <label>
                    <input type="file" accept="image/png, image/jpeg, image/png" formControlName="imgRecipe"
                        class="inputImage" (change)="onFileSelected($event)">
                    <img matTooltip="Choose the photo" [src]="imgUrl" alt="" class="imgRecipe">
                    <mat-error *ngIf="formRecipe.controls.imgRecipe.invalid">image needed</mat-error>
                </label>

            </div>

            <div class="col-12 flex align-items-center justify-content-center">

                <button mat-fab matTooltip="Create recipe" color="primary" (click)="onSubmitCreate()" class="mt-2 mr-2"
                    *ngIf="!editRecipe">
                    <mat-icon>save</mat-icon>
                </button>

                <button mat-fab matTooltip="Edit Recipe" color="primary" (click)="onSubmitEdit()" class="mt-2 mr-2"
                    *ngIf="editRecipe">
                    <mat-icon>save</mat-icon>
                </button>

                <button mat-fab matTooltip="cancel" color="primary" (click)="onCancel()" class="mt-2 ml-2">
                    <mat-icon>close</mat-icon>
                </button>

            </div>

            <div class="col-12 flex flex-column  align-items-center justify-content-center">

                <mat-form-field class="col-6">
                    <mat-label>Recipe Name</mat-label>
                    <input matInput type="text" placeholder="Recipe Name" name="recipeName"
                        formControlName="recipeName">
                    <mat-error *ngIf="formRecipe.controls.recipeName.invalid">name needed</mat-error>
                </mat-form-field>

                <mat-form-field class="col-6">
                    <!-- <mat-label>Country</mat-label>
                    <input matInput type="text" placeholder="Country" name="country" formControlName="country">
                    <mat-error *ngIf="formRecipe.controls.country.invalid">country needed</mat-error> -->

                    <mat-label>Country</mat-label>
                    <mat-select placeholder="Country" name="country" formControlName="country">
                        <mat-option *ngFor="let item of countries" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>


                </mat-form-field>

                <section>
                    <label>Difficulty: </label>
                    <mat-slider min="0" max="5" step="1" showTickMarks discrete>
                        <input type="range" matSliderThumb formControlName="difficulty">
                    </mat-slider>
                </section>

            </div>

        </div>

        <div class="grid flex align-items-center justify-content-center">

            <div class="col-6">

                <mat-form-field class="text-area-description">
                    <mat-label>Description</mat-label>
                    <textarea matInput type="text" placeholder="Description" name="description"
                        formControlName="description" rows="5"></textarea>
                    <mat-error *ngIf="formRecipe.controls.description.invalid">description needed</mat-error>
                </mat-form-field>


                <div class="flex flex-column align-items-center justify-content-center">

                    <mat-form-field class="col-12">
                        <input matInput placeholder="Ingredients" name="newIngredient" formControlName="newIngredient"
                            [matChipInputFor]="ingredientsList2" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addIngredient($event)">
                    </mat-form-field>

                    <mat-chip-grid #ingredientsList2>
                        <mat-chip *ngFor="let ingredient of ingredients" [removable]="true"
                            (removed)="removeIngredient(ingredient)" class="chipCustom">
                            {{ ingredient }}
                            <mat-icon class="chipIcon" matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-grid>

                </div>

            </div>

            <div class="col-12 flex align-items-center justify-content-center">

                <div class="col-2 flex align-items-start justify-content-end">

                    <button mat-fab matTooltip="Add step" (click)="addStep()" color="primary" class="">
                        <mat-icon>add</mat-icon>
                    </button>

                </div>

                <div class="col-8">

                    <div *ngFor="let step of steps; let i = index"
                        class="flex align-items-center justify-content-center">

                        <mat-form-field class="flex justify-content-center align-items-center text-area-description">
                            <mat-label>Step {{i+1}}</mat-label>
                            <textarea matInput type="text" [name]="step.name" [placeholder]="step.placeholder"
                                [formControlName]="step.name" [value]="step.value" rows="3"></textarea>
                        </mat-form-field>

                        <button mat-fab matTooltip="delete step" class="m-1" color="primary" (click)="removeStep(i)">
                            <mat-icon>close</mat-icon>
                        </button>

                    </div>

                </div>

            </div>

        </div>

    </form>
</div>