input {
    border: none;
    border-bottom: 2px solid maroon;
}

input::placeholder {
    color: maroon;
}

.t-button {
    border: none;
    background-color: maroon;
    width: 200px;
    border-radius:  5px;
    color: aliceblue;
}