.img-recipe {
    height: 325px;
    width: 325px;
    border: 5px solid #b92617;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
    object-fit: cover;
}

.img-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #b92617;
    object-fit: cover;
    cursor: pointer;
}

.chip-recipe {
    padding: 15px;
    background-color: maroon !important;
    color: white;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.chip-creator {
    padding: 10px;
    margin: 20px;
    background-color: maroon !important;
    color: white;
    border-radius: 45px 45px 45px 45px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.data-card {
    background-color: maroon;
    color: white;
    border-radius: 45px 45px 0px 0px;
    border: 5px solid rgb(215, 135, 135);
    z-index: 100;
}

.button-custom {
    background-color: #b92617;
}

.info-adicional {
    background-color: rgb(215, 135, 135);
    border-radius: 0px 0px 45px 45px;
    font-size: large;
}

.info-adicional h2 {
    color: maroon !important;

}

.card-random {
    border-radius: 45px 45px 45px 45px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}


.back-button {
    position: fixed;
    top: 50%;
    left: 10%;
    z-index: 100;
}

.forward-button {
    position: fixed;
    top: 50%;
    right: 10%;
    z-index: 100;
}

.back-fix {
    background-color: maroon;
    border-radius: 0 0 45px 45px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {

    .img-recipe {
        height: 150px;
        width: 150px;
    }

    .back-button {
        top: 50%;
        left: 1%;
    }
    
    .forward-button {
        top: 50%;
        right: 1%;
    }

    .card-random {
        box-shadow: none;
        width: 100%;
    }

}
    
