<div class="flex flex-column justify-content-center align-items-center">
    <img src="assets/tasteIt_logo.png">
    <span class="text-lg mb-4">
        Login
    </span>
    <form class="flex flex-column justify-content-center align-items-center" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        
        <mat-form-field color="primary">
            <mat-label>Email</mat-label>
            <input matInput type="text" class="form-control" placeholder="jhon@doe.com" formControlName="email" color="primary">
            <mat-icon matSuffix>alternate_email</mat-icon>
            <mat-error *ngIf="formLogin.controls.email.invalid">Invalid email</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" class="form-control" placeholder="Password" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        

        <button mat-flat-button color="primary" type="submit" [disabled]="formLogin.invalid">
            Login!
        </button>
    </form>

    <div class="flex justify-content-end mt-5">
        <a routerLink="/auth/register">Don´t have an account?</a>
    </div>
</div>