<div class="flex flex-column justify-content-center align-items-center">
    <img src="assets/tasteIt_logo2.png">
    <span class="text-lg mb-4">
        Login
    </span>
    <form class="flex flex-column justify-content-center align-items-center" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        
        <mat-form-field color="primary">
            <mat-label>Email</mat-label>
            <input matInput type="text" class="form-control" placeholder="jhon@doe.com" formControlName="email" color="primary" autocomplete="username">
            <mat-icon matSuffix>alternate_email</mat-icon>
            <mat-error *ngIf="formLogin.controls.email.invalid">Invalid email</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" class="form-control" placeholder="Password" formControlName="password" autocomplete="current-password">
            <button mat-icon-button matSuffix type="button" (click)="showPassword()" [attr.aria-pressed]="hide" tabindex="-1">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="formLogin.controls.password.value.length">At least 6 chars</mat-error>
        </mat-form-field>
        

        <button mat-flat-button color="primary" type="submit" [disabled]="formLogin.invalid">
            LOGIN!
        </button>
    </form>

    <div class="flex flex-column justify-content-end mt-5">
        <button mat-flat-button routerLink="/auth/register">Don´t have an account?</button>
        <button mat-flat-button (click)="resetPassword()">Forgot your password?</button>
    </div>

</div>