<div class="row container mt-4">

  <div class="col-3">

      <h2>tasteIt</h2>
      <hr>
      <ul class="list-group">
          <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="list-group-item">Home</li>
          <li routerLink="search" routerLinkActive="active" class="list-group-item">Search</li>
          <li routerLink="random" routerLinkActive="active" class="list-group-item">Random</li>
          <li routerLink="mybook" routerLinkActive="active" class="list-group-item">My Book</li>
      </ul>

  </div>
  <!--RUTAS-->
  <div class="col">
      <router-outlet></router-outlet>    
  </div>

</div>