<div class="sidebar">
    <ul class="list-group">
        <li routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="list-group-item">Home</li>
        <li routerLink="search" routerLinkActive="active" class="list-group-item">Search</li>
        <li routerLink="random" routerLinkActive="active" class="list-group-item">Random</li>
        <li routerLink="mybook" routerLinkActive="active" class="list-group-item">My Book</li>
        <li routerLink="myprofile" routerLinkActive="active" class="list-group-item">My Profile</li>
    </ul>
</div>