<div class="mt-8">

    <div class="d-flex justify-content-center">
        <h2>Recipes</h2>
    </div>
    <div>
        <mat-tab-group [disableRipple]=true>
            <mat-tab label="My Recipes" class="mat-tab-label-active">
                <app-me></app-me>
            </mat-tab>
            <mat-tab label="My Liked Recipes">
                <app-liked></app-liked>
            </mat-tab>
            <mat-tab label="My Followed Users">
                <app-followed></app-followed>
            </mat-tab>
        </mat-tab-group>
    </div>
    
</div>