<div mat-dialog-content>
    <p>Rate this recipe</p>
    <form class="flex flex-column align-items-center justify-content-center">
        <mat-form-field appearance="fill">
            <mat-label>Comment - optional</mat-label>
            <input matInput type="text">
        </mat-form-field>

        <mat-slider min="0" max="5" step="1" showTickMarks discrete [displayWith]="formatLabel">
            <input type="range" matSliderThumb>
        </mat-slider>


    </form>
</div>
<div mat-dialog-actions>
    <button mat-button color="primary">Cancel</button>
    <button mat-button cdkFocusInitial color="accent">Ok</button>
</div>