<div class="mt-7">

  <div class="grid">

    <div class="col-3 filter-box flex flex-column align-items-center">

      <h2>Search</h2>

      <form [formGroup]="formSearch" (ngSubmit)="onSubmit()">

        <div class="col flex flex-column justify-content-center align-items-center">

          <mat-form-field color="primary">
            <mat-label>Name</mat-label>
            <input matInput type="text" class="form-control" placeholder="By name" formControlName="name"
              color="primary">
          </mat-form-field>

          <mat-form-field color="primary">
            <mat-label>Country</mat-label>
            <input matInput type="text" class="form-control" placeholder="By country" formControlName="country"
              color="primary">
          </mat-form-field>

          <mat-form-field color="primary">
            <mat-label>Difficulty</mat-label>
            <input matInput type="text" class="form-control" placeholder="By difficulty"
              formControlName="difficulty" color="primary">
          </mat-form-field>

          <mat-form-field color="primary">
            <mat-label>Rating</mat-label>
            <input matInput type="text" class="form-control" placeholder="By rating" formControlName="rating"
              color="primary">
          </mat-form-field>

          <mat-form-field color="primary">
            <mat-label>Tags</mat-label>
            <input matInput type="text" class="form-control" placeholder="By tags" formControlName="tags"
              color="primary">
          </mat-form-field>

          <mat-form-field color="primary">
            <mat-label>Ingredients</mat-label>
            <input matInput type="text" class="form-control" placeholder="By ingredients"
              formControlName="ingredients" color="primary">
          </mat-form-field>

          <button mat-flat-button>
            Search
          </button>

        </div>

      </form>

    </div>


    <div *ngIf="!recipes; else divSearch">

    </div>


    <ng-template #divSearch>

      <div class="col-9 background-cards">

        <taste-it-recycler-view [recipes]="recipes"></taste-it-recycler-view>

      </div>

    </ng-template>

  </div>

</div>