.filter-box {
    background-color: maroon;
}

.filter-box h2 {
    color: white;
}

.img-profile-card {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #b92617;
    object-fit: cover;
}

.user-cards-search {
    margin: 20px;
    max-width: 325px;
    background-color: maroon !important;
    color: white;
}

.user-cards-search img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.card-title {
    color: maroon !important;
}
