<div class="row">

    <div class="col mt-1 card">
        <div class="text-center mt-1">
            <img [src]="decodeImg64(recipe[0].recipe.image!)" [alt]="" class="card-img-top">
        </div>
        <div class="card-body">
            <div class="card-rating">3.5</div>
        </div>
    </div>

    <div class="col mt-4">
        <p><strong>Name:</strong></p>
        <p>{{ recipe[0].recipe.name }}</p>
        <p><strong>Description:</strong></p>
        <p>{{ recipe[0].recipe.description }}</p>
        <p><strong>Tags:</strong></p>
        <p>{{ recipe[0].recipe.tags }}</p>
    </div>

    <div class="col mt-5">
        <p><strong>Difficulty:</strong></p>
        <p>{{ recipe[0].recipe.difficulty }}</p>
        <p><strong>country:</strong></p>
        <p>{{ recipe[0].recipe.country }}</p>

    </div>

    <div class="col mt-5">
        <p><strong>Created by:</strong></p>
        <p>{{ recipe[0].user.username }}</p>
        <p><strong>Date Created:</strong></p>
        <p>{{ recipe[0].recipe.dateCreated }}</p>
    </div>

</div>
<div class="row">
    <div class="col">

        <div class="col mt-5">
            <p><strong>Ingredients:</strong></p>
            <p *ngFor="let item of recipe[0].recipe.ingredients">{{ item }}</p>

        </div>
    </div>

    <div class="col">

        <div class="col mt-5">
            <p><strong>Steps:</strong></p>
            <p *ngFor="let item of recipe[0].recipe.steps">{{ item }}</p>
        </div>
    </div>
</div>