<div class="row">
    <div *ngFor="let recipe of hola"
    class="col-md-3 col-sm-6 animate__animated animate__fadeIn">
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    {{ recipe.recipe.name }}
                </p>
            </div>
            <img [src]="decodeImg64(recipe.recipe.image!)" [alt]="" class="card-img-top">
            <p class="card-text">
                {{ recipe.recipe.description }}
            </p>
            <p class="card-text">
                {{ recipe.user.username }}
            </p>
        </div>

    </div>
</div>

