img {
    height: 235px;
    width: 235px;
    border: 2px solid #b92617;
    border-radius: 25px 25px 25px 25px;
    object-fit: cover;
}

.cards {
    margin: 20px;
    max-width: 325px;
    background-color: maroon;
    color: white;
    cursor: pointer;
    border-radius: 25px 25px 25px 25px;
}

.alert-no-recipes {
    background-color: rgb(215,135,135);
    color: white;
    padding: 15px;
    margin:15px;
    border-radius: 15px 15px 15px 15px;
}