img {
    max-width: 50px;
    max-height: 50px;
}

.align-text-right{
    text-align: end;
}

.container-comment {
    background-color: rgb(215, 135, 135);
    border-color: maroon;
    width: 99%;
}