<div class="grid">
    <div class="col">
        <mat-card class="user-cards" *ngFor="let comment of comments">
            <mat-card-header>
                <div mat-card-avatar>
                    <img class="imgProfile" [src]="comment.user.imgProfile!">
                </div>
                <mat-card-title (click)="viewProfileCreator(comment.user.token)" class="ml-2">{{comment.user.username}}</mat-card-title>
                <mat-card-subtitle class="ml-2">{{comment.c.dateCreated | date}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p><b>Said:</b> {{comment.c.comment}}</p>
                <p><b>Rating:</b> {{comment.c.rating}} <mat-icon class="star">star</mat-icon></p>
            </mat-card-content>
        </mat-card>
    </div>
</div>