.user-cards img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    background-color: maroon !important;
    border: 3px solid maroon;
}

mat-card {
    background-color: rgb(215, 135, 135) !important;
    margin-top: 2px;
}

.star {
    color: yellow;
}

body {
    overflow: hidden;
}

.grid {
     width: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
}