img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 55%;
    object-fit: cover;
}

mat-card {
    background-color: rgb(215, 135, 135) !important;
    margin-top: 2px;
}

.align-text-right {
    text-align: end;
}

.container-comment {
    background-color: rgb(215, 135, 135);
    border-color: maroon;
    width: 99%;
}

.star {
    color: yellow;
}