// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$primary: (
  50: #bb5c58,
  100: #bc3a33,
  200: #ac1c17,
  300: #9c1313,
  400: #8f0b0c,
  500: #800000,
  600: #d18885,
  700: #f8e6e8,
  800: #edc1c4,
  900: #b92617,
  A100: #c2e4ff,
  A200: #addcff,
  A400: #5eff00,
  A700: #a6ff00,
  contrast: (50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: rgb(255, 55, 55),
    700: rgb(0, 0, 0),
    800: rgb(0, 217, 255),
    900: rgb(187, 255, 0),
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  )
);

$accent: (
  50: #f8e6e8,
  100: #edc1c4,
  200: #d18885,
  300: #bb5c58,
  400: #bc3a33,
  500: #b92617,
  600: #ac1c17,
  700: #9c1313,
  800: #8f0b0c,
  900: #800000,
  A100: #c2e4ff,
  A200: #addcff,
  A400: #5eff00,
  A700: #a6ff00,
  contrast: (50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: rgb(255, 55, 55),
    700: rgb(0, 0, 0),
    800: rgb(0, 217, 255),
    900: rgb(187, 255, 0),
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tasteItWeb-primary: mat.define-palette($primary);
$tasteItWeb-accent: mat.define-palette($accent);

// The warn palette is optional (defaults to red).
$tasteItWeb-warn: mat.define-palette(mat.$red-palette);




// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tasteItWeb-theme: mat.define-light-theme((color: (primary: $tasteItWeb-primary,
        accent: $tasteItWeb-accent,
        warn: $tasteItWeb-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($tasteItWeb-theme);

//@import '~ngx-bar-rating/themes/br-default-theme.scss';

.container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  max-width: 1140px;
  width: 100%;
  // padding-right: 15px;
  // padding-left: 15px;
}


.spacer {
  flex: 1 1 auto;
}


//BAR RATING - STARS
$star-utf8: '\2605';
.br-default {
  --br-font-size: 26px;

  .br-units {
    align-items: center;
  }

  .br-unit-inner {

    &:before {
      content: $star-utf8;
      color: var(--br-inactive-color);
      width: 100%;
    }
  }

  .br-active:before {
    color: var(--br-active-color);
  }

  .br-fraction {
    &:after {
      color: var(--br-active-color);
      content: $star-utf8;
      width: 50%;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
    }
  }

}

//TABS

.horizontal-line {
  margin-top: 20px;
  height: 2px;
  background-color: maroon;
}

.mat-mdc-tab {
  background-color: maroon !important;
}

.mdc-tab__text-label {
  color: white !important;
}

.mdc-tab--active {
  background-color: rgb(215, 135, 135) !important;

  .mdc-tab__text-label {
    color: maroon !important;
  }

  .mdc-tab-indicator__content {
    border-color: maroon !important;
  }
}

//chips

.chipCustom {
  background-color: maroon !important;
}

.chipCustom span {
  color: white !important;
}

.chipIcon {
  color: white !important;
}


//user cards
.user-cards img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  background-color: maroon !important;
  border: 3px solid maroon;
}

// mat-card {
//   background-color: rgb(215, 135, 135) !important;
//   margin-top: 2px;
// }


//rating
.star {
  color: yellow;
}

body{
  margin: 0px;
  padding: 0px;
}
